ul{
    /* background-color:rgb(205, 185, 162);  */ 
    display: flex; 
    flex-wrap: wrap;
}

li{
    padding: 30px;
    margin: 10px;
    background-color:antiquewhite; 
    width: 500px;
    border-radius: 10px;
}

body{
    padding: 30px;
}

#userData{
    padding: 0px;
    background-color: antiquewhite;
    max-width:fit-content; 
    border-radius: 20px;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}

#newPost{
    display: flex;
    flex-wrap: wrap; 
    gap: 15px;
}